* {
	margin: 0;
	padding: 0;
}

div {
	position: absolute;
	background-color: white;
	border: solid 2px black;
	border-radius: 3px;
}

#houseContainer {
	width: 300px;
	height: 300px;
	background-color: transparent;
}

#frontWall {
	width: 100px;
	height: 90px;
	bottom: 0px;
	left: 0px;
}

#door {
	left: 35px;
	bottom: -2px;
	width: 30px;
	height: 40px;
}

#doorKnob {
	right: 2px;
	bottom: 15px;
	width: 2px;
	height: 2px;
	border-radius: 5px;
}

.window {
	width: 20px;
	height: 20px;
	top: 15px;
}

#leftW {
	left: 10px;
}

#rightW {
	right: 10px;
}

#chimney {
	width: 15px;
	height: 30px;
	left: 7px;
	bottom: 94px;
}

.smoke {
	border: 0px;
	font-size: 7pt;
	font-weight: bolder;
	background-color: transparent;
	z-index: -1;
	animation-name: smokeanim;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

#smoke1 {
	left: 1px;
}

#smoke2 {
	right: 1px;
	animation-delay: 1s;
}

@keyframes smokeanim {
	from {top: -1px; opacity: 1;}
	to {top: -25px; opacity: 0;}
}

#roof {
	width: 0;
	height: 0;
	background-color: transparent;
	border-left: 48px solid transparent;
	border-right: 48px solid transparent;
	border-top: 0px;
	border-bottom: 48px solid white;
	bottom: 94px;
	left: 4px;
	border-radius: 0px;
}

#roofBorder {
	width: 0;
	height: 0;
	background-color: transparent;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	border-top: 0px;
	border-bottom: 52px solid black;
	bottom: 93px;
	border-radius: 0px;
}

/*.roofTest {
	width: 100px;
	padding-bottom: 70.92px;
	position: relative;
	overflow: hidden;
	border: transparent;
}

#psu {
	border: transparent;
}

.roofTest:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0079C6;
	transform-origin: 0 100%;
	transform: rotate(45deg);
}*/

