* {
	margin: 0;
	padding: 0;
}

div {
	position: absolute;
	background-color: white;
	border: solid 2px black;
	border-radius: 3px;
}

#houseContainer {
	width: 300px;
	height: 300px;
	/*background-color: blue;*/
}

#frontWall {
	width: 100px;
	height: 90px;
	bottom: 0px;
	left: 0px;
}

#door {
	left: 35px;
	bottom: -2px;
	width: 30px;
	height: 40px;
}

#doorKnob {
	right: 2px;
	bottom: 15px;
	width: 2px;
	height: 2px;
	border-radius: 5px;
}

.window {
	width: 20px;
	height: 20px;
	top: 15px;
}

#leftW {
	left: 10px;
}

#rightW {
	right: 10px;
}

#roof {
	width: 0;
	height: 0;
	background-color: transparent;
	border-left: 49px solid transparent;
	border-right: 49px solid transparent;
	border-top: 0px;
	border-bottom: 49px solid white;
	bottom: 94px;
	left: 3px;
}

#roofBorder {
	width: 0;
	height: 0;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	border-top: 0px;
	border-bottom: 52px solid black;
	bottom: 94px;

}

/*.roofTest {
	width: 100px;
	padding-bottom: 70.92px;
	position: relative;
	overflow: hidden;
	border: transparent;
}

#psu {
	border: transparent;
}

.roofTest:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0079C6;
	transform-origin: 0 100%;
	transform: rotate(45deg);
}*/